<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/loginpage.css">
</head>
<body>
    <div id="cursor"></div>
    <div id="nav">
        <a class="logo" href="/"> <h3>LOCALCRAFTS</h3></a>
        
        <a href="/">Home</a>
    </div>


    <div id="main">
       <div id="page1">
        <div id="left">
            <div id="card">
                <form action="/login" method="post">
                    <h1>LOG IN</h1>
                <h4>Email</h4>
                <input class="input" type="email" name="email">
                <h4>Password</h4>
                <input class="input"  type="password" name="password"> <br>
                <button>Log in</button>

                </form>
                <a class="forgot" href="">Forgot your password?</a>
                <div id="line"></div>
                <h4 class="dontac">DON’T HAVE AN ACCOUNT YET?</h4>
                <a  class="registerbtn"   href="/registerpage"><button>Register now</button></a>
            </div>
        </div>
        <div id="right">
            <img src="https://sjostrandcoffee.com/cdn/shop/files/login-1600-2000-4-5.jpg?v=1683038685&width=1920" alt="">
        </div>
       </div>



       <div id="footer">
        <div id="left">
            <div id="left-left">
                <h2>Legal</h2>
                <h3><a href="">Tearms and use</a></h3>
                <h3><a href="">Privecy policy</a></h3>
                <h3><a href="">Support</a></h3>
                
            </div>
            <div id="left-right">
                <h2>Community</h2>
                <h3><a href="">Tearms and use</a></h3>
                <h3><a href="">Privecy policy</a></h3>
                <h3><a href="">Support</a></h3>   
            </div>
        </div>
        <div id="right">
            <h2>Social</h2>
            
                <h3><a href="">Instagram</a></h3>
                <h3><a href="">Email</a></h3>
                <h3><a href="">Linkdin</a></h3> 
                <h6>@2023 LOCALCRAFTS : YOU CAN SELL OR BUY YOUR PRODUCTS.</h6>
        </div>

    </div>
        

    </div>
    <script src="../javascripts/productpage.js"></script>
</body>
</html>