<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/productpage.css">
</head>
<body>
    <div id="cursor">

    </div>
    <div id="nav">
        <div id="left">
           

           <a href="/"> <h3>LOCALCRAFTS</h3></a>
        </div>
        <div id="mid">
            <a href="/">Brand Home</a>
        </div>
        <div id="right">
          


            <%  if(typeof loggedIn !== 'undefined' && loggedIn){%>
                <a href="/logout">Logout</a>
            }else{ %>
                ad
            <% } %>
           
            
            <a href="">My Cart</a>
           
        </div>
    </div>
    <div id="main">
        <div id="page1">
            <div id="left">
                <a href=""><button>All Product</button></a> <br>
                <a href=""><button>Obsidian</button></a> <br>
                <a href=""><button>Clay</button></a> <br>
                <a href=""><button>Home</button></a>

            </div>
            <div id="right">


            <% allProducts.forEach((product)=>{%>
                <div class="card" >
                    <div id="img">
                        <img class="img1" src=<%= product.imageUrl %> alt="front img">
                        <img class="img2" src="https://plus.unsplash.com/premium_photo-1674273913918-bee2114cfe08?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">



                    </div>
                   <div id="overlay">
                    <div id="up">
                        <a href="/productdetails/<%= product._id %>">

                            <button>Add to Cart</button>
                        </a>
                    </div>
                    <div id="down"> <div id="name"> <h3><%= product.title  %></h3></div> <div id="prize"><h3>Rs. <%= product.price  %></h3></div></div>
                   </div>
                </div>
            <%})%>
               
               
              



               
                  
               






                
                
            </div>
        </div>

        <div id="footer">
            <div id="left">
                <div id="left-left">
                    <h2>Legal</h2>
                    <h3><a href="">Tearms and use</a></h3>
                    <h3><a href="">Privecy policy</a></h3>
                    <h3><a href="">Support</a></h3>
                    
                </div>
                <div id="left-right">
                    <h2>Community</h2>
                    <h3><a href="">Tearms and use</a></h3>
                    <h3><a href="">Privecy policy</a></h3>
                    <h3><a href="">Support</a></h3>   
                </div>
            </div>
            <div id="right">
                <h2>Social</h2>
                
                    <h3><a href="">Instagram</a></h3>
                    <h3><a href="">Email</a></h3>
                    <h3><a href="">Linkdin</a></h3> 
                    <h6>@2023 LOCALCRAFTS : YOU CAN SELL OR BUY YOUR PRODUCTS.</h6>
            </div>
  
        </div>
        


    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="../javascripts/productpage.js"></script>
</body>
</html>